/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%)

## Typography

### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 600

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400 */

/* Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* Google Fonts Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

/* Affects the entire website */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The Body of the website */
body{
    background-image: url(images/bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%);
}

/* Contains all the website */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

/* Headings */
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

/* Paragraphs */
p{
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}



.head{
    margin: 5%;
    
}

.main{
    width: 90%;
    margin: auto;
}

.row{
    display :flex;
    flex-direction: row;
}

.col-right{
    color: white;
    margin-left: 4%;
    flex-basis: 50%;
}

.col-left img{
    flex-basis: 50%;
}


.main-heading{
    margin-top: 7.2%;
}

.col-right h2{
    letter-spacing: .02rem;
    font-size: 2.5rem;
}

.col-right p{
    margin: 7% auto 7%;
    font-size: 1rem;
    line-height: 1.7rem;
}

button{
    padding: 3% 12%;
    border: 0px;
    border-radius: 2rem;
    font-size: 1.3rem;
    color:  hsl(257, 40%, 49%);
    box-shadow: 1px 1px 2px 5px rgba(0, 0, 0, 0.164);
    font-weight: 400;
}

button:hover{
    cursor: pointer;
    box-shadow: none;
    transition: 0.5s ease;
    color:white;
    background-color: hsl(300, 69%, 71%);
}


.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    margin: 5% auto 1%;
}

.icons{
    display: flex;
    flex-direction: row;
}

.icon a{
    display: flex;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}

.icon a:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    transition: .3s ease;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

footer a{
    color: white;
}


@media screen and (max-width: 728px){

    body{
        width: 80%;
        margin: auto;
        min-height: 100vh;
    }
    
    img{
        width: 100%;
    }

    .head img{
        width: 50%;
        margin-bottom: 7%;
    }

    .col-left{
        width: 80%;
        margin: auto;
    }

    .row{
        flex-direction: column;
    }

    .col-right{
       text-align: center;
    }

    .col-right h2{
        font-size: 2rem;
    }

    .col-right p{
        margin: 5% 10% 5%;
        font-size: 1.18rem;
        line-height: 2rem;
    }

    button{
        padding: 3% 17%;
    }    

    .social-icons{
        justify-content: center;
        margin: 10% auto 8%;
    }

    .icon a{
        margin-right: 18px;
        height:30px;
        width: 30px;
        padding: 10px;
    }

    footer p{
        font-size: .8rem;
    }
}




